<div class="row p-0 m-0" style="height: calc(100vh - 70px)">
  <main class="form-signing w-75 m-auto">
    <form>
      <h1 class="h3 mt-5 mb-3 fw-normal">Register customer</h1>
      <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" placeholder="name@example.com" type="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="form-outline form-floating">
            <input class="form-control" id="inputName" placeholder="Surname" type="text">
            <label for="inputName">Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline form-floating">
            <input class="form-control" id="inputSurname" placeholder="Surname" type="text">
            <label for="inputSurname">Surname</label>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="floatingPassword" placeholder="Password" type="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="floatingPasswordRetype" placeholder="Retype password" type="password">
        <label for="floatingPasswordRetype">Retype password</label>
      </div>
      <div class="mb-3">
        <div class="h5 mt-2 mb-1 fw-normal">Address details</div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-outline form-floating">
              <input class="form-control" id="inputBuildingNumber" placeholder="Building number" type="text">
              <label for="inputBuildingNumber">Building number</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline form-floating">
              <input class="form-control" id="inputStreet" placeholder="Street" type="text">
              <label for="inputStreet">Street</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-outline form-floating">
              <input class="form-control" id="inputCity" placeholder="City" type="text">
              <label for="inputCity">City</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline form-floating">
              <input class="form-control" id="inputZip" placeholder="ZIP Code" type="text">
              <label for="inputZip">ZIP Code</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="form-outline form-floating">
            <input class="form-control" id="inputCountry" placeholder="Country" type="text">
            <label for="inputCountry">Country</label>
          </div>
        </div>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign-up</button>
    </form>
  </main>
</div>
