<div class="row p-0 m-0" style="height: calc(100vh - 70px)">
  <main class="form-signin w-25 h-50 m-auto">
    <form>
      <h1 class="h3 mt-5 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" placeholder="name@example.com" type="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="floatingPassword" placeholder="Password" type="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>
</div>
