<div class="container mt-5 mb-5 w-100" style="height: calc(100vh - 70px)">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10 ">
      <div class="row p-2 bg-white border rounded" *ngFor="let p of packages">
        <div class="col-md-3 mt-1">
          <img class="img-fluid img-responsive rounded product-image" src="{{p.qr_code}}">
        </div>
        <div class="col-md-6 mt-1">
          <h5>{{p.package_name}}</h5>
          <div class="mt-1 mb-1 spec-1">
            <span><b>Package type: </b> {{p.package_type}}</span>
          </div>
          <div class="mt-1 mb-1 spec-1">
            <span><b>Shipment details: </b> <br>
              {{p.shipment_details.street}}
              {{p.shipment_details.buildings_number}},
              {{p.shipment_details.postal_code}}
              {{p.shipment_details.city}},
              {{p.shipment_details.country}}
            </span>
          </div>
          <div class="mt-1 mb-1 spec-1">
            <span><b>Sector: </b> {{p.sector}}</span>
          </div>
          <div class="dropdown" *ngIf="p.product_store.length > 0">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item col" *ngFor="let prod of p.product_store">
                  <div><b>{{prod.product.product_name}}</b></div>
                  <div>Quantity: {{prod.quantity}}</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <h6 class="text-success"><b>Status: </b> {{p.status}}</h6>
          <div class="d-flex flex-column mt-4">
            <button class="btn btn-primary btn-sm" type="button" (click)="setPackageStatus('REMOVED', p.id)">Remove package</button>
            <button class="btn btn-primary btn-sm mt-2" type="button" (click)="setPackageStatus('RELEASED', p.id)">Release package</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


