<!--<div class="m-5">-->
<!--  <div class="list-group w-auto mb-1" *ngFor="let package of packages">-->
<!--    <label class="list-group-item d-flex gap-3">-->
<!--      <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">-->
<!--&lt;!&ndash;      <span class="pt-1 form-checked-content">&ndash;&gt;-->
<!--&lt;!&ndash;      <div>&ndash;&gt;-->
<!--&lt;!&ndash;        <strong>Package ID: </strong>&ndash;&gt;-->
<!--&lt;!&ndash;        {{package.id}}&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div>&ndash;&gt;-->
<!--&lt;!&ndash;        Package type: {{package.packageType}}&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div>&ndash;&gt;-->
<!--&lt;!&ndash;        Creation timestamp: {{package.admitionDate}}&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div>&ndash;&gt;-->
<!--&lt;!&ndash;        Destination: {{package.destination}}&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--&lt;!&ndash;      TODO &ndash;&gt;-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->

<div class="container mt-5 mb-5 w-100" style="height: calc(100vh - 70px)">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10 ">


<!--      TODO -->

      <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1">
          <img class="img-fluid img-responsive rounded product-image" src="../assets/images/d518511fb662e54b9298181e2b2b84d0.jpg">
        </div>
        <div class="col-md-6 mt-1">
          <h5>Package Name 1</h5>
          <div class="mt-1 mb-1 spec-1">
            <span><b>Category: </b> test category</span>
          </div>
          <div class="mt-1 mb-1 spec-1">
            <span><b>Shipment details: </b> 123 Main Street, New York, NY 10030</span>
          </div>
          <div class="mt-1 mb-1 spec-1">
            <span><b>Sector: </b> 8</span>
          </div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">product 1</a></li>
              <li><a class="dropdown-item">product 2</a></li>
              <li><a class="dropdown-item">product 3</a></li>
              <li><a class="dropdown-item">product 4</a></li>
              <li><a class="dropdown-item">product 5</a></li>
            </ul>
          </div>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <div class="d-flex flex-row align-items-center">
            <h6 class="mr-1"><b>Quantity: </b>12</h6>
          </div>
          <h6 class="text-success"><b>Status: </b>COMPLETED</h6>
          <div class="d-flex flex-column mt-4">
            <button class="btn btn-primary btn-sm" type="button">Remove package</button>
            <button class="btn btn-primary btn-sm mt-2" type="button">Release package</button>
          </div>
        </div>
      </div>

      <!--      TODO -->



<!--      <div class="row p-2 bg-white border rounded mt-2">-->
<!--        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../assets/images/d518511fb662e54b9298181e2b2b84d0.jpg"></div>-->
<!--        <div class="col-md-6 mt-1">-->
<!--          <h5>Quant trident shirts</h5>-->
<!--          <div class="d-flex flex-row">-->
<!--            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>-->
<!--          </div>-->
<!--          <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>-->
<!--          <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>-->
<!--          <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>-->
<!--        </div>-->
<!--        <div class="align-items-center align-content-center col-md-3 border-left mt-1">-->
<!--          <div class="d-flex flex-row align-items-center">-->
<!--            <h4 class="mr-1">$14.99</h4><span class="strike-text">$20.99</span>-->
<!--          </div>-->
<!--          <h6 class="text-success">Free shipping</h6>-->
<!--          <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="row p-2 bg-white border rounded mt-2">-->
<!--        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../assets/images/d518511fb662e54b9298181e2b2b84d0.jpg"></div>-->
<!--        <div class="col-md-6 mt-1">-->
<!--          <h5>Quant ruybi shirts</h5>-->
<!--          <div class="d-flex flex-row">-->
<!--            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>123</span>-->
<!--          </div>-->
<!--          <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>-->
<!--          <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>-->
<!--          <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>-->
<!--        </div>-->
<!--        <div class="align-items-center align-content-center col-md-3 border-left mt-1">-->
<!--          <div class="d-flex flex-row align-items-center">-->
<!--            <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>-->
<!--          </div>-->
<!--          <h6 class="text-success">Free shipping</h6>-->
<!--          <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="row p-2 bg-white border rounded mt-2">-->
<!--        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../assets/images/d518511fb662e54b9298181e2b2b84d0.jpg"></div>-->
<!--        <div class="col-md-6 mt-1">-->
<!--          <h5>Quant tinor shirts</h5>-->
<!--          <div class="d-flex flex-row">-->
<!--            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>110</span>-->
<!--          </div>-->
<!--          <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>-->
<!--          <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>-->
<!--          <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>-->
<!--        </div>-->
<!--        <div class="align-items-center align-content-center col-md-3 border-left mt-1">-->
<!--          <div class="d-flex flex-row align-items-center">-->
<!--            <h4 class="mr-1">$15.99</h4><span class="strike-text">$21.99</span>-->
<!--          </div>-->
<!--          <h6 class="text-success">Free shipping</h6>-->
<!--          <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>-->
<!--        </div>-->
<!--      </div>-->


    </div>
  </div>
</div>


